<table align="center">
    <th>Topic ID</th>
    <th>Topics</th>
    <th>Description</th>
    <tr>
        <td>1</td>
        <td>Template Literals</td>
        <td>String literals allowing embedded expression</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Lambda Expression</td>
        <td>Used to represent Anonymous function</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Modules</td>
        <td> Purpose of module is seperation of concerns</td>
    </tr>
       <tr>
           <td>4</td>
           <td>Interface</td>
           <td>reuse the signature across the objects</td>
       </tr> 
        
    
</table>

