

    <!-- <a [routerLink]='["coreJava"]' routerLinkActive='active'><h1>CoreJava</h1></a> 
    <a [routerLink]='["advJava"]' routerLinkActive='active'><h1>AdvJava</h1></a> -->
    <app-nav-bar></app-nav-bar>
    <table align="center">
        <th><a [routerLink]='["fiction"]' routerLinkActive='active'><h3>Fiction</h3></a></th>
        <th><a [routerLink]='["auto"]' routerLinkActive='active'><h3>Autobiography </h3></a></th>
        <th><a [routerLink]='["action"]' routerLinkActive='active'><h3>Action and Adventure </h3></a></th>
    </table>
    
    
    
   
   <router-outlet></router-outlet>
   <div>
    <footer class="footer">
        <p>@Copyright 2021 all right reserved</p>
      </footer>
</div> 
