<table align="center">
    <th>Topic ID</th>
    <th>Topics</th>
    <th>Description</th>
    <tr>
        <td>1</td>
        <td>Data Types, Variables, and Arrays</td>
        <td>Data types: string, int, char, arrays</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Operators</td>
        <td>+ - * /</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Control Statements</td>
        <td> for, if , while, do while</td>
    </tr>
       <tr>
           <td>3</td>
           <td>A Closer Look at Methods and Classes</td>
           <td>Method and Classes</td>
       </tr> 
        
    
</table>
