<table align="center">
    <th>Topic ID</th>
    <th>Topics</th>
    <th>Description</th>
    <tr>
        <td>1</td>
        <td>Servelts</td>
        <td>Java Servlets are programs that run on a Web or Application server</td>
    </tr>
    <tr>
        <td>2</td>
        <td>JDBC</td>
        <td>JDBC stands for J ava D ata b ase C onnectivity</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Introduction to JSP</td>
        <td> JSP or Java Server Pages is a technology that is used to create web application</td>
    </tr>
      
    
</table>


