<html>
  <head>
    <style>
      .bgred {
        background: #004080;
      }
    </style>
  </head>
  <body>
    <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bgred border-bottom shadow-sm">
  
   
  
  
     
  
   
  
      <nav class="my-2 my-md-0 me-md-3">
  
   
        <img src="../assets/flogo.png" alt="" width="50" height="50" class="d-inline-block align-top">
        <p class="h5 my-0 me-md-auto fw-normal text-white">BookReporter</p>
       
        <!--<a class="btn btn-primary" routerLink='/dotnet' routerLinkActive='active'>DotNet Technologies</a>-->
      </nav>
  
   
  
    </header>
   
    
  
   
  
  </body>
  </html>