<app-nav-bar></app-nav-bar>
<div class="myDiv1">
    <img src="..\assets\finalbook.jpg" class="image">
</div>
<div class="myDiv2">
    <p class="myPara"><b align="center">
        <h2>....{{'Hello Readers'|translate}}....</h2><br/>
        <p>BookReporter is arguably the leading online community for book lovers.</p>
        <p>If you want some inspiration for which book to read next, this is the </p>
        <p>site to visit.</p>
        <p>There's an endless number of user-generated reading lists to Goodreads </p>
        <p>itself publishes dozens  "best of" lists across a number of categories. </p>
         <p>You can also join book discusions reading groups with thousand members.</p>
         <p>You can participate in the community by adding your own rankings books </p>
         <p>you've read and leaving reviews for other people check out. Occasionally</p>
         <p>there are even bonus events like question and answer session with authors.</p>
        </b></p>
</div>

 <div>
    <br>
    <br>
    <br>
    <footer class="footer">
        <p>@Copyright 2021 all right reserved</p>
      </footer>
</div> 